.sub-menu.active{
    display: block;
}

.mobile-menu.active{
    transform: translateX(0%);
}

.mobile-menu-dropdown.active{
    background: #015557;
    color: #fff;
}

.overlay.active{
    display: block;
}
.mobile-sub-menu.active{
    display: block;
}